.about-wrapper {
    display: flex;
    gap: 40px;align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 1px solid #CCC;
    padding-top: 40px;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 25px;
    }

    .about-items {
        display: flex;
        gap: 40px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 20px;
        }

        .about-img {
            max-width: 503px;

            img {
                @include imgw;
                border-radius: 20px;
            }
        }
        .about-content {
            max-width: 474px;

            .circle-box {
                margin-top: 35px;
                width: 150px;
                min-width: 150px;
                height: 150px;
                text-align: center;
                border-radius: 50%;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                background-color: #F4F4F4;
                font-size: 18px;
                font-weight: 700;
                color: $header-color;
                position: relative;
                border: 1px solid $theme-color;
                font-family: $heading-font;
    
                span {
                    position: relative;
                    z-index: 9;

                    .icon {
                        display: block;
                        transform: rotate(-40deg);
                        margin-bottom: 10px;
                    }
                }

    
                &::before {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    content: "";
                    background: rgba(255, 59, 0, 0.35);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.5s;
                    z-index: 0;
                    opacity: 0;
                }
    
                &::after {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    content: "";
                    background: $theme-color;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 1.8s;
                    z-index: 0;
                    opacity: 0;
                }
    
                &:hover {
                    &::before {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                    }
    
                    &::after{
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                    }
    
                    span {
                        color: $white;
                    }
                }
            }
        }
    }

    .counter-box {
        border-radius: 20px;
        background: #F4F4F4;
        padding: 45px 40px;
        text-align: center;
        min-width: 235px;

        h2 {
            font-size: 45px;
            font-weight: 700;
            margin-top: 5px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .about-shape {
        position: absolute;
        top: -50%;
        bottom: 0;
        right: 0;
        z-index: -1;

        @include breakpoint (max-xxxl){
            display: none;
         }
    }
}

.about-wrapper-2 {
    margin-bottom: 40px;
    margin-top: 50px;

    @include breakpoint (max-xxl){
        margin-top: 0;
    }

    @include breakpoint (max-xl){
        margin-bottom: 0;
    }

    .about-content {
        max-width: 650px;

        .section-title {
           p {
                margin-top: 30px;
           }
        }

        .counter-items-area {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 30px;
               justify-content: start;
            }

            .counter-items {
                h3 {
                    font-size: 45px;
                    font-weight: 600;
                }
            }
        }
    }

    .about-img {
        position: relative;
        margin-left: 40px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        .line-shape {
            position: absolute;
            top: -48px;
            left: -42px;
            right: 0;
            width: 659px;
            z-index: -1;

            @include breakpoint (max-xxl){
                display: none;
            }
        }

        .shape-box {
            position: absolute;
            bottom: -40px;
            right: -55px;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        // .line-shape {
        //     position: absolute;
        //    top: 0;
        // }
    }
}

.about-wrapper-3 {
    @include breakpoint (max-xxl){
        margin-bottom: -30px;

    }
    .about-items-3 {
        .about-img {
            position: relative;
            img {
                border-radius: 999px;

                @include breakpoint (max-xxl){
                    @include imgw;
                }
            }
            .counter-box {
                background-color: $theme-color-3;
                display: inline-block;
                height: 200px;
                width: 200px;
                border-radius: 50%;
                padding: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                display: grid;
                line-height: 1;
                position: absolute;
                bottom: 2px;
                left: -80px;

                @include breakpoint (max-xxl){
                    left: 0;
                    bottom: 5%;
                }
               
                
                h2 {
                    color: $white;
                    font-size: 60px;
                    padding-top: 15px;
                }

                p {
                    color: $white;
                    margin-top: -50px;
                }
            }
        }
    }
    .about-content {
        p {
            margin-top: 20px;
            margin-bottom: 35px;
        }

        .icon-items {
            display: flex;
            gap: 20px;
            border-bottom: 1px dashed #CCC;
            padding-bottom: 25px;
            align-items: center;
            margin-bottom: 25px;

            &.style-2 {
                border-bottom: none;
                padding-bottom: 0;

            }

            .icon {
                border-radius: 999px;
                background: #F4F4F4;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 30px;
                color: $theme-color-3;
               
            }
            .content {
                flex-basis: 75%;

                h5 {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

.about-wrapper-4 {
    .about-content{

        .about-list-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            ul {
                li {
                    i {
                        margin-right: 10px;
                        color: $header-color;
                    }
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $heading-font;
                    color: #7A7A7A;
    
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .about-upcoming-image {
            display: flex;
            gap: 30px;
            margin-top: 40px;
            align-items: center;

            img {
                border-radius: 20px;
            }
        }
    }

    .about-image-4 {
        text-align: right;
    }
}

.about-wrapper-11 {
    .about-image-items {
        position: relative;

        .video-box {
            position: absolute;
            top: 50%;
            left: 34%;
            transform: translate(-50%,-50%);
            z-index: 9;

            .video-buttton {
                width: 142px;
                height: 142px;
                line-height: 142px;
                text-align: center;
                border-radius: 50%;
                background-color: $theme-color;
                display: inline-block;
                z-index: 9;
                font-size: 24px;
                color: $white;
                position: relative;

                .text-circle {
                    position: absolute;
                    top: 7%;
                    left: 7%;
                    -webkit-animation: cir36 10s linear infinite;
                    animation: cir36 10s linear infinite;
                }

            }
        }

        .counter-shape {
            @include flex;
            gap: 16px;
            padding: 24px;
            background-color: $white;
            box-shadow: $shadow;
            position: absolute;
            bottom: 30px;
            left: -50px;
            z-index: 1;
            border-radius: 10px;

            @include breakpoint (max-sm){
               left: 0;
            }

            .content {
                h3 {
                    font-size: 28px;
                    font-weight: bold;
                }
            }
        }

        .about-image-1 {
            max-width: 430px;
            height: 498px;
            position: relative;
            border-radius: 10px;

            @include breakpoint (max-lg){
                max-width: 560px;
            }

            .about-image-2 {
                position: absolute;
                bottom: -13%;
                right: -35%;

                img {
                    border-radius: 10px;
                }

                @include breakpoint (max-xxl){
                    right: -20%;
                }

                @include breakpoint (max-xl){
                    width: 200px;
                    bottom: 0;
                    right: -10%;

                    img {
                        @include imgw;
                    }
                }

                @include breakpoint (max-lg){
                    bottom: -13%;
                    right: -35%;
                }

                @include breakpoint (max-sm){
                    width: 140px;
                    bottom: initial;
                    top: 0;
                    right: 0;
                }
            }

            &::after {
                content: "";
                width: 100%;
                height: 88%;
                position: absolute;
                right: -55px;
                top: 20%;
                border: 3px solid $theme-color;
                z-index: -1;
                border-radius: 10px;

                @include breakpoint (max-xl){
                    right: -30px;
                }

                @include breakpoint (max-lg){
                    width: 100%;
                    height: 88%;
                    right: -55px;
                    top: 20%;
                }

                @include breakpoint (max-sm){
                    display: none;
                }
            }
        }
    }

    .about-content {
        .about-icon-items {
            margin-top: 50px;
            @include flex;
            gap: 30px;
            border-bottom: 1px solid $border-color;
            padding-bottom: 40px;

            @include breakpoint (max-xxl){
                flex-wrap: wrap;
                padding-bottom: 30px;
                margin-top: 30px;
            }

            .icon-items {
                @include flex;
                gap: 25px;

                .icon {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: $theme-color;
                    color: $white;
                }

                .content {
                    flex-basis: 60%;
                }
            }
        }

        .about-author {
            @include flex;
            gap: 30px;
            margin-top: 50px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            .author-image {
                @include flex;
                gap: 15px;

                .content {
                    p {
                        font-size: 14px;
                        color: $text-color;
                        font-weight: 500;
                        margin-top: -2px;
                    }
                }
            }
        }
    }

    &.style-2 {
        .about-image-items {
            .circle-shape {
                position: absolute;
                top: 0;
                right: 25%;
                animation: cir36 10s linear infinite;
            }

           

            .about-image-1 {
                max-width: 420px;
                height: 500px;

                @include breakpoint (max-lg){
                   max-width: 550px;
                   height: 530px;
                }

                @include breakpoint (max-md){
                    max-width: 450px;
                    height: 415px;
                }

                @include breakpoint (max-sm){
                    max-width: 550px;
                    height: 500px;
                 }

                .about-image-2 {
                    border: 10px solid $white;
                    box-shadow: $shadow;
                    right: -40%;

                    @include breakpoint (max-xl){
                        right: -20%;
                    }

                    @include breakpoint (max-sm){
                        right: 0;
                    }
                }
    
                &::after {
                   display: none;
                }
            }
        }

        .about-content {
            .about-icon-items {
    
                .icon-items {
                    .icon {
                        background-color: $white;
                        color: $theme-color;
                        box-shadow: 0px 4px 25px 0px rgba(56, 75, 255, 0.08);
                    }

                    .content {
                        h4 {
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

.about-wrapper22 {
    .about-image {
        position: relative;

        img {
            @include imgw;
            border-radius: 10px;
        }

        .about-image-2 {
            position: absolute;
            top: 0;
            right: 0;
            border-left: 15px solid $white;
            border-bottom: 15px solid $white;
            border-radius: 10px;

            @include breakpoint (max-sm){
                max-width: 180px;
                z-index: 9;
            }
        }

        .about-experience {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $header-color;
            border-top: 15px solid $white;
            border-right: 15px solid $white;

            .bg-shape {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
                mix-blend-mode: color-burn;
            }

            .about-experience-content {
                position: relative;
                display: flex;
                align-items: center;
                z-index: 1;

                .about-text {
                    padding: 38.5px 16px;
                    background-color: $theme-color-3;
    
                    .experience-title {
                        font-size: 16px;
                        color: $white;
                        font-weight: 700;
                        line-height: 1.75;
                        text-transform: uppercase;
                        writing-mode: vertical-rl;
                        transform: rotate(180deg);
                        margin: 0;
                    }
                }

                .about-year {
                    padding: 0 32.48px 0 38px;
                    font-size: 65px;
                    color: $white;
                    font-weight: 700;
                    line-height: 1.076;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $white;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: var(--white);
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .about-content {
        margin-left: 50px;

        @include breakpoint (max-xl){
            margin-left: 20px;
        }

        @include breakpoint (max-lg){
            margin-left: 0;
        }

        .about-inner {
            margin-top: 40px;
            @include flex;
            justify-content: space-between;
            border-top: 1px solid $border-color;
            padding: 40px 0;
            border-bottom: 1px solid $border-color;

            @include breakpoint (max-sm){
                flex-wrap: wrap;
                gap: 20px;
            }

            .icon-items {
                display: flex;
                gap: 20px;

                @include breakpoint (max-xl){
                    flex-wrap: wrap;
                }

                .icon {
                    width: 80px;
                    height: 80px;
                    line-height: 70px;
                    text-align: center;
                    font-size: 30px;
                    background-color: $theme-color-3;
                    color: $white;
                    border-radius: 50%;
                }

                .content {
                    h6 {
                        margin-bottom: 3px;
                    }
                }
            }
        }

        .inner-thumb {
            img {
                border-radius: 10px;
            }
        }

        .about-author {
            @include flex;
            gap: 40px;
            margin-top: 50px;

            @include breakpoint (max-xl){
               gap: 30px;
            }

           

            @include breakpoint (max-sm){
                margin-top: 20px;
                flex-wrap: wrap;
            }

            .author-image {
                @include flex;
                gap: 20px;
            }
        }
    }
}