
//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

.ml-50 {
  margin-left: 50px;

    @include breakpoint (max-xl){
     margin-left: 0;
    }
}
//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 110px;
      height: 110px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

//pagination default

//pagination default
.swiper-dot {
  padding-top: 50px;
  position: relative;
  .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      transition: 0.6s;
      background-color: #CCCCCC;
      opacity: 1;
      border-radius: 10px;
      &:not(:last-child){
      margin-right: 10px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;

      &::before{
      position: absolute;
      width: 22px;
      height: 22px;
      line-height: 22px;
      top: -6px;
      left: -6px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid $theme-color;
      content: "";
      }
  }
}


.array-button {
    @include flex;
    gap: 15px;

    .array-prev {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #2a2a2a;
      color: $white;
      @include transition;
      font-size: 12px;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);

      &:hover {
          background-color: $theme-color;
          color: $white;
      }
  }

  .array-next {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: $theme-color;
      color: $white;
      @include transition;
      font-size: 12px;

      &:hover {
        background-color: $theme-color;
        color: $white;
      }
  }
}

//pagination default

.mt-10 {
  margin-top: 10px;
}

br {
  @include breakpoint(max-md){
    display: none;
  }
}

.mt-60 {
  margin-top: 55px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.bg-cover-2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100%;
}

//>>>>> Nice Select Css End <<<<<//


.custom-container {
  max-width: 1680px;
}

.page-nav-wrap {
  ul {
      li {
          display: inline-block;

          .page-numbers {
              &.current {
                  background-color: $theme-color;
                  color: $white;
              }

              display: inline-block;
              width:50px;
              height:50px;
              line-height:50px;           
              background: transparent;
              font-weight: 600;
              transition: all 0.3s ease-in-out;
              margin: 0 2px;
              border: 1px solid $border-color;
              color: $text-color;
              border-radius: 5px;

              @media (max-width: 767px) {
                  margin-top: 10px;
                  width: 50px;
                  height: 50px;
                  line-height: 50px;
                  font-size: 14px;
              }

              i {
                  margin-top: 2px;
              }
              &:hover {
                  background-color: $theme-color;
                  color: $white;
                  border: 1px solid transparent;
              }
          }
      }
  }
}

.item-bg-color {
    background-color: #F4F6FA !important;
}

.bor-top {
	border-top: 1px solid #CCC; 
}

.bor-left {
	border-left: 1px solid $border-color;
}

.bor-bottom {
	border-bottom: 1px solid #CCC; 
}

.sticky-style {
  position: sticky !important;
  top: 100px;
}

.custom-container-2 {
  max-width: 1575px;
  margin: 0 auto;
}

.aximo_screenfix_right {
  margin-right: calc((-100vw + 100%) / 2);
}

.custom-container-3 {
  max-width: 1695px;
  margin: 0 auto;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}

.item-bg {
  background-color: $bg-color !important;

p {
    color: $text-color !important;
}
.client-info {
   
    border-top: 1px solid $border-color !important;
    .content {
        h3 {
            color: $header-color !important;
        }
        span {
            color: $text-color !important;
        }
    }
}
}