.hero-12 {
    overflow: hidden;
    z-index: 9;
    position: relative;
    padding-top: 80px;

    @include breakpoint (max-xl){
       padding: 180px 0 150px;
    }

    @include breakpoint (max-lg){
        padding: 120px 0;
    }

    .hero-content {
        h6 {
            margin-bottom: 10px;
            color: $white;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2.56px;
            text-transform: uppercase;
        }
        h1 {
            margin-bottom: 20px;
            color: $white;

            @include breakpoint (max-xxl){
                font-size: 55px;
            }

            @include breakpoint (max-xl){
                font-size: 48px;
            }

            @include breakpoint (max-lg){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 55px;
            }

            @include breakpoint (max-sm){
                font-size: 40px;
            }

            span {
               font-weight: 100;
            }
        }
        p {
            color: $white;
            opacity: 0.8;
            max-width: 500px;
        }

        .main-button {
            margin-top: 30px;
            .theme-btn {
                background: transparent;
                border: 1px solid $theme-color;
            }

            .arrow-btn {
                background: transparent;
                border: 1px solid $theme-color;
            }

            &:hover {
                .theme-btn,.arrow-btn {
                    background-color: $theme-color;
                }
        
                .arrow-btn {
                    i {
                        transform: rotate(0);
                    }
                }
            }
        }
    }

    .hero-shape {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            height: 100%;
        }
    }

    .hero-image {
        position: relative;
        z-index: 9;
        margin-right: -55%;

        @include breakpoint (max-xl){
           margin-right: 0;
        }

        img {
            @include imgw;
        }
    }
}

.hero-1 {
    position: relative;
    z-index: 9;

    .circle-arrow {
        position: absolute;
        right: 135px;
        bottom: 35px;
        z-index: 9;

        @include breakpoint (max-md){
            display: none;
        }

       a {
            height: 200px;
            width: 200px;
            text-align: center;
            line-height: 163px;
            display: inline-block;
            border-radius: 50%;
            background: rgba(255, 59, 0, 0.9);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.1);
            position: relative;

           .circle1 {
                height: 175px;
                width: 175px;
                text-align: center;
                line-height: 175px;
                position: relative;
                margin-left: 0px;
                margin-top: 10px;
                animation: cir36 10s linear infinite;
           }

           .arrow1 {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%,-50%);
               color: $white;
               font-size: 20px;
           }
       }
   }

    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }


    .slider-button {
        @include breakpoint (max-md){
            display: none;
        }

        .array-prev {
            font-size: 18px;
            color: $white;
            position: absolute;
            left: 2%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            cursor: pointer;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            @include transition;
            background-color: $theme-color;
            border-radius: 5px;

            i {
                transform: rotate(-180deg);
                display: inline-block;
            }

            &:hover {
                background-color: $white;
                color: $header-color;
            }
        }

        .array-next {
            font-size: 18px;
            color: $header-color;
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            cursor: pointer;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            @include transition;
            background-color: $white;
            border-radius: 5px;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }

    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;

        &::before {
            @include before;
            background: linear-gradient(90deg, #16171A 0.06%, rgba(22, 23, 26, 0) 99.93%);
            z-index: -1;
        }
    }

    .hero-content {
        padding: 180px 0 180px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
            text-align: center;
            margin: 0 auto;
            padding: 130px 0 130px;
        }

        h6 {
            color: $white;
            background-color: $theme-color;
            padding: 8px 20px;
            line-height: 1;
            display: inline-block;
            letter-spacing: 1px;
            margin-bottom: 30px;
            border-radius: 5px;
        }

        h1 {
            color: $white;
            margin-bottom: 15px;
            line-height: 120%;

            @include breakpoint (max-xxl){
                font-size: 70px;
            }

            @include breakpoint (max-lg){
                font-size: 56px;
            }

            @include breakpoint (max-md){
                font-size: 43px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        p {
            color: $white;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
        }
        
        .hero-button {
            @include flex;
            gap: 30px;
            margin-top: 50px;

            @include breakpoint (max-md){
                margin-top: 40px;
                justify-content: center;
            }

            @include breakpoint (max-sm){
                margin-top: 25px;
                justify-content: center;
                flex-wrap: wrap;
            }

            .video-btn {
                background-color: $theme-color;
                color: $white;
                display: inline-block;
                font-size: 16px;
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                text-align: center;
                position: relative;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    right: 0;
                    bottom: 0;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 1px solid $theme-color;
                    content: "";
                    transform: translate(-50%,-50%);
                }
            }

            .button-text {
                span {
                    font-size: 16px;
                    color: $white;
                    font-weight: bold;
                }
            }
        }
    }
}

.hero-2 {
    padding: 220px 0 100px;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl){
       padding-top: 190px;
    }

    @include breakpoint (max-lg){
        padding-top: 140px;
    }

    .bg-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .hero-content {
        h1 {
            @include breakpoint (max-lg){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 52px;
            }

            @include breakpoint (max-sm){
                font-size: 42px;
            }
        }   

        span {
            color: $theme-color-2;
        }
        p {
            color: $black;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        h4 {
            margin-top: 40px;
            font-size: 18px;
            font-weight: 500;
            max-width: 270px;
            line-height: 177%;
            margin-bottom: 20px;
        }
    }

    .hero-image {
        position: relative;

        img {
            @include imgw;
        }

        .box-shape {
            position: absolute;
            bottom: 0;
            right: -50px;

            @include breakpoint (max-xl){
                display: none;
            }
        }
    }

    .gradient-color {
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.hero-3 {
    position: relative;
    padding: 290px 0 160px;

    @include breakpoint (max-xl){
        padding: 170px 0 0;
    }

    .left-shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @include breakpoint (max-xxl){
           display: none;
        }
    }

    .hero-video-box {
        padding: 30px 350px 30px 40px ;
        border-radius: 20px 0px 0px 0px;
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(20px);
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint (max-xl){
           position: static;
           padding: 30px;
           margin-top: 30px;
           
        }

        .video {
            @include flex;
            gap: 20px;
            margin-bottom: 20px;

            .video-btn {
                width: 50px;
                height: 50px;
                background-color: $theme-color-3;
                line-height: 50px;
                border-radius: 50%;
                text-align: center;
                display: inline-block;
                color: $white;
            }

            h5 {
                color: $white;
            }
        }

        p {
            color: $white;
        }
    }

    &::before {
        @include before;
        opacity: 0.7;
        background: $header-color;
    }

    .hero-content {
        position: relative;

        @include breakpoint (max-xl){
            margin-bottom: 80px;
        }

        h6 {
            color: $white;
        }

        h1 {
            color: $white;
            font-size: 88.143px;

            @include breakpoint (max-xl){
                font-size: 72px;
             }

            @include breakpoint (max-lg){
                font-size: 60px;
             }

            @include breakpoint (max-md){
               font-size: 50px;
            }

            @include breakpoint (max-sm){
                font-size: 38px;
             }

            span {
                font-weight: 300;
            }
        }

        .main-button{
            margin-top: 40px;

            .theme-btn {
                background-color: transparent;
                border: 1px solid $white;
            }

            .arrow-btn {
                background-color: $theme-color-3;
            }

            &:hover {
                .theme-btn {
                    background-color: $theme-color-3;
                    border: 1px solid $theme-color-3;
                }
            }
        }
    }

    .social-icon {
        gap: 30px;
        position: absolute;
        right: 140px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpoint (max-xl){
            display: none !important;
        }

        a {
            color: $white;

            &:hover {
                color: $theme-color-3;
            }
        }
    }
}

.hero-22 {
    background-color: #16171A;
    position: relative;
    z-index: 9;

    .hero-image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;

        @include breakpoint (max-xl4){
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           z-index: 9 !important;

           &::before {
                @include before;
                background: linear-gradient(90deg, #16171A 0.06%, rgba(22, 23, 26, 0) 99.93%);
           }

           img {
                @include imgw;
                object-fit: cover;
           }
        }

        img {
            max-width: 100%;
        }
    }

    .dot-shape {
        position: absolute;
        top: 0;
        right: 600px;
    }

    .hero-content {
        padding: 300px 0 160px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
            text-align: center;
            margin: 0 auto;
            padding: 130px 0;
        }

        h1 {
            color: $white;
            font-size: 75px;
            margin-bottom: 30px;

            span {
                color: $theme-color-2;
            }

            @include breakpoint (max-xl){
                font-size: 70px;

                br {
                    display: none;
                }
            }

            @include breakpoint (max-lg){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

            @include breakpoint (max-sm){
                font-size: 34px;
            }
        }

        p {
            color: $white;
            font-weight: 500;
        }
        
        .hero-button {
            @include flex;
            gap: 15px;
            margin-top: 50px;
            flex-wrap: wrap;

            @include breakpoint (max-md){
                justify-content: center;
                margin-top: 30px;
            }
        }
    }
}