.testimonial-box-items-2 {
    border-radius: 20px;
    background: #171A2B;
    padding: 40px;
    margin-top: 30px;

    .testi-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .star {
            i {
                color: $theme-color-2;
            }
        }
    }

    p {
        font-size: 28px;
        font-weight: 400;
        line-height: 136%;
        color: $white;
        margin-top: 20px;

        @include breakpoint (max-lg){
            font-size: 26px;
        }

        @include breakpoint (max-md){
            font-size: 24px;
        }

        @include breakpoint (max-sm){
            font-size: 22px;
        }
    }
    .client-info {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        border-top: 1px solid rgba(255, 255, 255, .2);
        padding-top: 30px;
        .content {
            h3 {
                color: $white;
            }
            span {
                color: $white;
            }
        }
    }
}

.testimonial-wrapper-3 {
    .testimonial-slider-3 {
        margin-right: -83%;

        @include breakpoint (max-xl){
            margin-right: 0;
        }
    }

    .testimonial-box-items {
        border-radius: 20px;
        background: #F4F4F4;
        padding: 60px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
           padding: 30px;
        }
    
        h2 {
            margin-bottom: 20px;
        }

        p {
            font-size: 28px;
            line-height: 136%;

            @include breakpoint (max-xl){
               font-size: 24px;
            }

            @include breakpoint (max-md){
               font-size: 20px;
            }
        }

        .client-info {
            display: flex;
            gap: 20px;
            margin-top: 40px;
        }
        .quote-icon {
            position: absolute;
            bottom: 70px;
            right: 60px;
        }
    }

    .testimonial-image {
        max-width: 790px;

        @include breakpoint (max-xl){
            max-width: 1200px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }

    .array-button {
        margin-top: 50px;
        margin-right: 30px;

        .array-prev,.array-next {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            border-radius: 50%;
            @include transition;
            background-color: $bg-color;

            svg path {
                @include transition;
            }

            &:hover {
                background-color: $theme-color-3;

                svg path {
                    fill: $white;
                }
            }
        }

        .array-next {
            background-color: $theme-color-3;

            svg path {
                fill: $white;
            }

        }
    }
}

.testimonial-wrapper {

    .testimonial-logo {
        border-radius: 20px;
        border: 1px solid #CCC;
        background: $white;
        box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
        padding: 70px 40px;

        @include breakpoint (max-lg){
            padding: 30px;
            text-align: center;
            
            img {
                width: 230px;
                margin: 0 auto;
            }
        }
    }

    .testimonial-box {
        border-radius: 20px;
        background: $bg-color;
        padding: 30px 30px 0;
        margin-top: 30px;

        .testimonial-content {
            @include flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: $text-color;
            margin-bottom: 8px;
        }

        // .fly-image {

        //     img {
        //         @include imgw;
        //     }
        // }
    }

    .testimonial-items {
        @include flex;
        gap: 30px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
        }

        .testimonial-image {

            img {
                border-radius: 20px;
            }
        }

        .testimonial-card {
            padding: 30px;
            border-radius: 20px;
            border: 3px solid $theme-color;
            position: relative;

            .client-info-item {
                @include flex;
                justify-content: space-between;
                margin-bottom: 40px;

                .content {
                    span {
                        font-size: 18px;
                        color: #05091D;
                    }
                }

                .star {
                    color: #FFB34E;
                    font-size: 20px;

                    i {
                        &.color {
                            color: $bg-color;
                        }
                    }
                }
            }

            p {
                font-size: 28px;
                color: $header-color;
                line-height: 138%;
            }

            svg {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
            }
        }
    }

    .testimonial-box-wrapper {
        padding: 40px;
        border-radius: 20px;
        background: $white;
        box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
        margin-top: 30px;
        position: relative;

        .testimonial-content {

            h3 {
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
            }

            .testimonial-wrap {
                @include flex;
                gap: 70px;
                margin-top: 30px;

                @include breakpoint (max-xl){
                   flex-wrap: wrap;
                   gap: 30px;
                }

                .testimonial-count {

                    h2 {
                        font-size: 50px;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: $text-color;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: $text-color;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }

        .right-image {
            position: absolute;
            bottom: 0;
            right: 10px;

            @include breakpoint (max-xl){
                display: none;
            }
        }
    }
}

.tesimonial-section-2 {
    .swiper-dot {
        .swiper-pagination-bullet {
           
            background-color: #171A2B;
           
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color-2;
      
            &::before {
                border: 2px solid $theme-color-2;
            }
        }
      }
}

.testimonial-card-items {
    text-align: center;
    margin: 30px auto 0;
    padding: 0 20px 30px;
    background-color:#1C1D21;
    @include transition;
    border-radius: 10px;

    .client-info {
       .client-img {
            padding-top: 30px;
            border-radius: 0px 0px 120px 120px;
            background: $theme-color;
            width: 90px;
            height: 115px;
            margin: 0 auto;
            @include transition;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                @include transition;
                border: 2px solid $header-color;
            }
       }

       .client-content {
            margin-top: 20px;
            margin-bottom: 15px;

            h3 {
                font-size: 24px;
                color: $white;
            }

            span {
                color: #E7E7E7;
            }
       }
    }

    p {
        color: #E7E7E7;
    }

   .icon {
        margin-top: 20px;
        @include transition;
        
   }

    &:hover {
        background-color: $theme-color;

        .client-info {
            .client-img {
                background-color: $header-color;

                img {
                    border: 2px solid $theme-color;
                }
            }

            .client-content {
                h3,span {
                    color: $white;
                }
            }
        }

        p {
            color: $white;
        }

        .icon {
            filter: grayscale(100%) brightness(300%);
        }
    }
}

.testimonial-card-items121 {
    margin-top: 60px;

    .testimonial-items-top {
        text-align: center;
        background-color: #ecf0f4;
        border-radius: 10px;
        padding: 40px 30px;
        position: relative;
        margin-bottom: 30px;
        @include transition;
        border: 1px solid transparent;

        @include breakpoint (max-sm){
            padding: 30px 40px;
        }

        .icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            background-color: $theme-color-2;
            font-size: 26px;
            color: $white;
            margin: -70px auto 30px;
    
        }
    
        p {
            font-size: 18px;
            line-height: 190%;
            color: $header-color;
            font-weight: 500;

            @include breakpoint (max-sm){
                font-size: 16px;
            }
        }
    
        .star {
            color: $theme-color-2;
            margin-top: 15px;
        }
    
        &::before {
            position: absolute;
            content: "";
            right: 41px;
            bottom: -1px;
            width: 81px;
            height: 1px;
            background-color: transparent;
            transform-origin: bottom left;
            transform: rotate(30deg);
            z-index: 1;
        }
    
        &:after {
            position: absolute;
            content: "";
            right: 50px;
            bottom: -41.5px;
            width: 72px;
            height: 42px;
            background-color: inherit;
            border-right: 1px solid transparent;
            -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
        }
    }

    .client-info-items {
        .client-img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 2px solid $theme-color;
        }
    }

    &:hover {
        .testimonial-items-top {
            background-color: $white;
            border: 1px solid $border-color;

            &:after {
                border-right: 1px solid $border-color;
            }

            &::before {
                background-color: $border-color;
            }
        }
    }
}