
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #FF3B00;
    --theme2: #FFA31A;
    --theme3: #2B4DFF;
    --header: #05091D;
    --text: #7A7A7A;
    --border: #d7d7d7;
    --bg: #F4F4F4;
    --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$theme-color-3: var(--theme3);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$shadow: var(--box-shadow);